.video-background-holder {
    position: relative;
    background-color: black;
    height: calc(100vh - 90px - 152px - 40px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  .video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .video-background-content {
    position: relative;
    z-index: 2;
  }
  
  .video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }  
    .navbar{
      padding-top: 0px !important;
      padding-bottom: 0px !important;
  }

  .img-logo{
      max-height: 80px;
  }

  .icono-red-social{
      max-height: 32px;
  }

  .menu-principal{
      background-color: #6e6b6a;
      color: #eee;
  }

  h1{
    font-size: 24pt;
    color: #222;
    font-family: Verdana;
  }

  h2{
      font-size: 26px;
      color: #222;
      font-family: itálica;
  }
  .checkAceptar
  {
    margin-top: 10px;
  }
  body{
    color: blue;
    font-size: 11pt;
    font-family: Arial ;
    line-height :20pt;
  }
  p{
    width: 80%;
    height: 30px;
    text-align: justify;
    text-indent: 10px;
    margin: 10px;

  }

  a:link {
    color: blue;

  }
  
  a:visited {
    color:aqua;
  
  }
  
  a:focus {
    color: black;
  }
  
  a:hover {
    color: #444;
  }
  
  .eliminado{
    color: purple;
    text-decoration:  line-through;

  }
  .botones{
    margin-top: 50px;
  }
 